@{
    ViewData["Title"] = "Acerca de Nosotros";
}
<h2>@ViewData["Title"].</h2>
<h3>Queremos que nos conozcas un poco más.</h3>

<p>
    NUESTRA TIENDA DE REPUESTOS suministrara a sus clientes productos de buena
    calidad, precios equitativos, atención de forma oportuna a los requisitos de los clientes
    para alcanzar la satisfacción y cumplir con los requisitos que son prioridad para el
    desarrollo de las actividades que este requiera. Brindamos productos de calidad, confiablidad,
    junto con un personal capacitado y enfocado al continuo mejoramiento.
</p>
