@{
    ViewBag.Title = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="4000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/Content/Chevrolet.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Encuentre en nuestra tienda los repuestos que necesita para su auto.
                    <a class="btn btn-default" href="http://micompu.cl">
                        Consúltenos
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/Chevrolet1.jpg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Calidad asegurada, junto con la adecuada garantía que usted se merece.
                    <a class="btn btn-default" href="http://micompu.cl">
                        Consúltenos
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/Chevrolet2.jpg" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Los mejores precios del mercado, cotice con nosotros, siempre será un placer atenderle.
                    <a class="btn btn-default" href="http://micompu.cl">
                        Consúltenos
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/Chevrolet3.jpg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Acérquese a nuestras oficinas donde un especialista le ayudara a encontrar el repuesto adecuado a la medida de su necesidad.
                    <a class="btn btn-default" href="hhttp://micompu.cl">
                        Consúltenos
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Repuestos Originales</h2>
        <ul>
            <li>productos de Página Web para promocionar la tienda.</li>
            <li><a href="http://micompu.cl">Elementos</a> que necesitará saber antes de comprar.</li>
            <li>Terminos de uso y <a href="http://micompu.cl">Compra</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Alternativos</h2>
        <ul>
            <li><a href="http://micompu.cl">La misma calidad, diferente proveedor.</a></li>
            <li><a href="http://micompu.cl">Funcionamiento asegurado.</a></li>
            <li><a href="http://micompu.cl">Transparencia y Confiabildad.</a></li>
            <li><a href="http://micompu.cl">Recibimos sus opiniones.</a></li>
            <li><a href="http://micompu.cl">Estamos al alcance de una llamada.</a></li>
            <li><a href="http://micompu.cl">productos y Servicos a su nivel.</a></li>
            <li><a href="http://micompu.cl">Estamos seguros que regresará porque somos de su preferencia.</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Otros Datos</h2>
        <ul>
            <li><a href="http://micompu.cl">productos de datos de los productos en Venta.</a></li>
            <li><a href="http://micompu.cl">Descripcion de cada repuesto.</a></li>
            <li><a href="http://micompu.cl">Informacion acerca de la calidad.</a></li>
            <li><a href="http://micompu.cl">Seguridad.</a></li>
            <li><a href="http://micompu.cl">Garantia y devoluciones.</a></li>
            <li><a href="http://micompu.cl">Comparativa de precios.</a></li>
            <li><a href="http://micompu.cl">Otros Servicios.</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Vista Previa</h2>
        <ul>
            <li><a href="http://micompu.cl">Mira antes de decidir</a></li>
            <li><a href="http://micompu.cl">Comprate con tus amigos estas imagenes</a></li>
            <li><a href="http://micompu.cl">Al estar seguro del producto tendras una mejor experiencia</a></li>
        </ul>
    </div>
</div>